.selectable{
    cursor: pointer;
}

zoom-on-hover{
    transition: all 0.4s ease-in-out;
}

.zoom-on-hover:hover{
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
    transform: scale(1.01);
}




/* estilos scroll bar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #bab9b9;
    border-radius: 4px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a3a3a3; 
}


/* paginacion */
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.page-link {
    color: #000000;
}


